<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application

        android:name=".App"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddEventActivity"></activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".LastPageActivity" />
        <activity android:name=".CricketEventActivity" />
        <activity android:name=".ConfirmActivity" />
        <activity android:name=".AddingDeletingActivity" />
        <activity android:name=".AdminCricketBookActivity" />
        <activity android:name=".AdminFootBallBookActivity" />
        <activity android:name=".EventListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="https://parseapi.back4app.com/" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="LPKcRbTp0VuAIivhT2AmGov37Q5heTFO7gqpqiyK" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="GBcwTDAfm5x9Vzw8f5OV0iVbNVIMh9X341PwO8f3" />

    </application>

</manifest>